<!DOCTYPE html>
<html>
<head>
  <title>Xeno2</title>
  <%= stylesheet_link_tag 'header',:media => 'screen' %>
  <%= stylesheet_link_tag 'footer',:media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render "layouts/header" %> 
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>
